<header class="page__header header">
  <div class="header__inner">
    <div class="header__logo"><img width="101" height="89" src="images/logo.svg" alt="ISIUM"></div>
    <button class="js-menu-toggler header__burger" type="button" title="Открыть меню">
      <svg class="header__burger-icon">
        <use xlink:href="#burger"></use>
      </svg>
    </button>
    <nav class="header__menu menu">
      <ol class="menu__list">
        <li class="menu__item"><a class="menu__link" href="main.html">Главная</a></li>
        <li class="menu__item"><a class="menu__link" href="loyal.html">Лояльные клиенты</a></li>
        <!--<li class="menu__item"><a class="menu__link" href="#">Знакомство с клиентами</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Возврат потерянных клиентов</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Празднование успешных сделок</a></li>
        <li class="menu__item"><a class="menu__link" href="#">Генерация лидов с сайта</a></li>-->
      </ol>
    </nav>
    <a class="header__enter" href="#">
      <svg class="header__enter-icon">
        <use xlink:href="#enter"></use>
      </svg>
      <span class="header__enter-text">Войти</span>
    </a>
  </div>
</header>
